{% extends "frame.html.jinja2" %}
{% block title %}module list &ndash; pdoc {{ __version__ }}{% endblock %}
{% block style %}
    {{ super() | safe }}
    <style type="text/css">
        {% block style_theme %}
            :root {
                --pdoc-background: #f8f9fa;
            }
            .pdoc {
                --text: #212529;
                --accent: #fff;
                --active: #fff598;
            }
        {% endblock %}

        {% block style_layout %}
        html, body {
            width: 100%;
            background-color: var(--pdoc-background);

        }
        {% endblock %}

        {% block style_content %}
        .pdoc-index {
            color: var(--text);
            text-align: center;
        }

        #pdoc-logo {
            background-image: url("data:image/svg+xml,{% filter urlencode %}{% include "logo.svg" %}{% endfilter %}");
            background-position: center;
            background-size: contain;
            display: block;
            height: 6rem;
            width: 12rem;
            margin: 2rem auto;
            transition: all 100ms;
        }

        #pdoc-logo:hover {
            filter: saturate(150%);
            transform: scale(1.02);
        }

        #pdoc-search {
            color: var(--text);
            background-color: var(--accent);
            display: block;
            margin: 0 auto;
            border: solid gray 1px;
            border-radius: 4px;
            text-align: center;
            padding: .4rem;
            width: 20rem;
        }

        .pdoc h5 {
            margin-top: 2rem;
        }

        #pdoc-modules {
            max-width: 75rem;
            margin: 0 auto;
        }

        #pdoc-modules a {
            display: inline-block;
            margin: .1rem;
            padding: .1rem .5rem;
            color: var(--text);
            text-decoration: none;
            background-color: var(--accent);
        }

        #pdoc-modules a:hover {
            background-color: var(--accent);
            transform: scale(1.05);
        }

        #pdoc-modules .active {
            background-color: var(--active);
        }
        {% endblock %}
    </style>
{% endblock %}
{% block body %}
<div class="pdoc pdoc-index">
    <a id="pdoc-logo" title="pdoc {{ __version__ }}" href="https://pdoc.dev"></a>
    <input id="pdoc-search" type="text" placeholder="search" aria-label="search for a module"/>
    <h5>Available Modules</h5>
    <div id="pdoc-modules">
    {% for module in all_modules %}
        <a href="{{ module.replace(".","/") }}.html">{{ module }}</a>
    {% endfor %}
    </div>
    <script>
        const modules = {{ all_modules | tojson }};
        const module_list = document.getElementById("pdoc-modules");
        const searchbox = document.getElementById("pdoc-search")

        function render(filt) {
            filt = filt.toLowerCase();
            let filtered = filt ? modules.filter(x => x.toLowerCase().includes(filt)) : modules;
            module_list.innerHTML = filtered.map(
                root => `
                    <a
                    class="${filtered.length === 1 || root === filt ? 'active' : ''}"
                    href="${root.replaceAll(".", "/")}.html"
                    >${root}</a>`
            ).join("");
        }

        render("");

        searchbox.addEventListener("input", (e) => {
            render(e.target.value);
        });
        searchbox.addEventListener("keyup", (e) => {
            let active = module_list.querySelector("a.active")
            if (e.key === "Enter" && active) {
                active.click();
            }
        })
        searchbox.focus()
    </script>
</div>
{% endblock %}
