attrs==21.4.0
coverage==6.2
distlib==0.3.4
filelock==3.4.2
flake8==4.0.1
hypothesis==6.34.2
iniconfig==1.1.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mccabe==0.6.1
mypy==0.930
mypy-extensions==0.4.3
packaging==21.3
pip==21.3.1
platformdirs==2.4.1
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.11.1
pyparsing==3.0.6
pytest==6.2.5
pytest-cov==3.0.0
pytest-timeout==2.0.2
setuptools==57.4.0
six==1.16.0
sortedcontainers==2.4.0
toml==0.10.2
tomli==2.0.0
tox==3.24.5
typing_extensions==4.0.1
virtualenv==20.13.0
