appdirs==1.4.4
attrs==21.2.0
bleach==3.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
coverage==5.5
cryptography==3.4.7
distlib==0.3.1
docutils==0.17.1
filelock==3.0.12
flake8==3.9.2
hypothesis==6.12.0
idna==2.10
importlib-metadata==4.0.1
iniconfig==1.1.1
jeepney==0.6.0
Jinja2==3.0.0
keyring==23.0.1
MarkupSafe==2.0.0
mccabe==0.6.1
mypy==0.812
mypy-extensions==0.4.3
packaging==20.9
pip==21.1.1
pkginfo==1.7.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
Pygments==2.9.0
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.11.1
pytest-timeout==1.4.2
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
SecretStorage==3.3.1
setuptools==49.2.1
six==1.16.0
sortedcontainers==2.3.0
toml==0.10.2
tox==3.23.1
tqdm==4.60.0
twine==3.4.1
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.4
virtualenv==20.4.6
webencodings==0.5.1
wheel==0.36.2
zipp==3.4.1
