attrs==21.2.0
backports.entry-points-selectable==1.1.0
coverage==5.5
distlib==0.3.3
filelock==3.0.12
flake8==3.9.2
hypothesis==6.22.0
iniconfig==1.1.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mccabe==0.6.1
mypy==0.910
mypy-extensions==0.4.3
packaging==21.0
pip==21.2.4
platformdirs==2.3.0
pluggy==1.0.0
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==2.12.1
pytest-timeout==1.4.2
setuptools==56.0.0
six==1.16.0
sortedcontainers==2.4.0
toml==0.10.2
tox==3.24.4
typing-extensions==3.10.0.2
virtualenv==20.8.1
