<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,{% filter urlencode %}{% include "favicon.svg" %}{% endfilter %}" />

    <title>{% block title %}{% endblock %}</title>

    <style type="text/css">{% include 'bootstrap-reboot.min.css' %}</style>
    {% filter replace("\n","") | replace("    ","") %}
        {% block style %}{% endblock %}
    {% endfilter %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
