{% extends "html_frame.jinja2" %}
{% block head %}
    <style type="text/css">

    </style>
    <title>pdoc {{ pdoc.__version__ }}</title>
{% endblock %}
{% block body %}
    <h1>Module Index</h1>
{% endblock %}