{#
We want to extend the default template instead of defining everything ourselves.
#}
{% extends "default/module.html.jinja2" %}

{#
We can extend a block using {{ super() }}, in this case we add custom css at the end of the style block.
#}
{% block style %}
    {{ super() | safe }}
    <style>
        .pdoc .modulename {
            color: orange;
        }
    </style>
{% endblock %}

{#
We can access system environment variables in the template, for example to pass version information.
#}
{% block nav_footer %}
    <footer>My Package v{{ env["VERSION"] | default("1.0") }}</footer>
{% endblock %}


{#
We can also adjust which members are documented by overriding the is_public macro.
In this example, the private function `Dog.__lt__` is exposed publicly.
However, doing this is not recommended, see https://pdoc.dev/docs/pdoc.html#control-what-is-documented.
#}
{% macro is_public(doc) %}
    {% if doc.qualname == "Dog.__lt__" %}
        true
    {% else %}
        {{ default_is_public(doc) }}
    {% endif %}
{% endmacro %}
