name: autofix.ci
on:
  pull_request:
  push:
    branches: [ "main", "ci" ]
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: mhils/workflows/checkout@af886cbabab992a8e7db75c6af3516af2b1f5a1c
      - uses: mhils/workflows/setup-python@af886cbabab992a8e7db75c6af3516af2b1f5a1c
      - uses: mhils/workflows/setup-uv@af886cbabab992a8e7db75c6af3516af2b1f5a1c

      - run: uv lock

      - run: uv run ruff check --fix-only .
      - run: uv run ruff format .

      - run: uv run test/test_snapshot.py

      - uses: mhils/add-pr-ref-in-changelog@6df8cd5a0c4d0a8c0353b663153d4a36384054f4

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
