name: autofix.ci
on:
  pull_request:
  push:
    branches: [ "main" ]
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version-file: .github/python-version.txt

      - run: pip install -r requirements-dev.txt
      - run: pip install --no-deps -e .

      - run: ruff --fix-only .
      - run: black .

      - run: git checkout test/testdata/ pdoc/markdown2/
      - run: test/test_snapshot.py

      - uses: mhils/add-pr-ref-in-changelog@main

      - uses: autofix-ci/action@b101d576be6781832e923ea51e56391066802d4d
