name: ci

on:
  pull_request:
  push:
    branches-ignore:    
      - 'dependabot/**'
    tags:
      - '**'

permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: mhils/workflows/.github/workflows/python-tox.yml@v9
    with:
      cmd: tox -e lint

  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            py: 3.13-dev
            args: --cov-fail-under=100
          - os: macos-latest
            py: 3.13-dev
            args: --cov-fail-under=100
          - os: ubuntu-latest
            py: 3.13-dev
            args: --cov-fail-under=100
          - os: ubuntu-latest
            py: 3.12.4
          - os: ubuntu-latest
            py: 3.11.5
          - os: ubuntu-latest
            py: 3.10.13
          - os: ubuntu-latest
            py: 3.9.18
          - os: ubuntu-latest
            py: 3.8.18
    uses: mhils/workflows/.github/workflows/python-tox.yml@v9
    with:
      cmd: tox -e py -- -vvv ${{ matrix.args }}
      os: ${{ matrix.os }}
      python-version: ${{ matrix.py }}

  build:
    uses: mhils/workflows/.github/workflows/python-build.yml@v9
    permissions:
      contents: read
      id-token: write
      attestations: write

  check:
    if: always()
    needs:
    - lint
    - test
    - build
    uses: mhils/workflows/.github/workflows/alls-green.yml@v9
    with:
      jobs: ${{ toJSON(needs) }}

  deploy:
    uses: mhils/workflows/.github/workflows/python-deploy.yml@v9
    with:
      artifact-name: wheels
    needs: check
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    secrets:
      password: ${{ secrets.TWINE_PASSWORD }}
