name: CI

on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  lint-pr:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: TrueBrain/actions-flake8@9a43ff1b2c7b96f3edffc48a49973ce3de116ba1
  lint-local:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v2
      - run: pip install tox
      - run: tox -e flake8
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v2
      - run: pip install tox
      - run: tox -e mypy
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            py: 3.10.2
          - os: macos-latest
            py: 3.10.2
          - os: ubuntu-latest
            py: 3.10.2
          - os: ubuntu-latest
            py: 3.9.9
          - os: ubuntu-latest
            py: 3.8.12
          - os: ubuntu-latest
            py: 3.7.12
    runs-on: ${{ matrix.os }}
    steps:
      - run: printenv
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.py }}
      - run: pip install tox
      - run: tox -e py -- -vvv --cov-fail-under=100
        if: startsWith('3.10', matrix.py)
      - run: tox -e py -- -vvv
        if: !startsWith('3.10', matrix.py)

  deploy:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    environment: deploy
    env:
      TWINE_USERNAME: __token__
      TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
      TWINE_REPOSITORY: ${{ secrets.TWINE_REPOSITORY }}
    runs-on: ubuntu-latest
    needs: [mypy, test]
    steps:
      - run: printenv
      - uses: actions/checkout@v1
      - run: sudo apt-get update
      - run: sudo apt-get install -y twine python3-wheel
      - run: python3 setup.py bdist_wheel
      - run: twine check dist/*
      - run: twine upload dist/*
