name: ci

on:
  pull_request:
  push:
    branches-ignore:    
      - 'dependabot/**'
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: mhils/workflows/checkout@481eaf3cc2ad8eb664a4c9a20cc635d46e02b5c6
      - uses: mhils/workflows/setup-python@481eaf3cc2ad8eb664a4c9a20cc635d46e02b5c6
      - uses: mhils/workflows/setup-uv@481eaf3cc2ad8eb664a4c9a20cc635d46e02b5c6
      - run: uv run tox -e lint

  old-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: mhils/workflows/checkout@481eaf3cc2ad8eb664a4c9a20cc635d46e02b5c6
      - uses: mhils/workflows/setup-python@481eaf3cc2ad8eb664a4c9a20cc635d46e02b5c6
      - uses: mhils/workflows/setup-uv@481eaf3cc2ad8eb664a4c9a20cc635d46e02b5c6
      - run: uv run tox -e old-dependencies

  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            py: 3.14.0
            args: --cov-fail-under=100
          - os: macos-latest
            py: 3.14.0
            args: --cov-fail-under=100
          - os: ubuntu-latest
            py: 3.14.0
            args: --cov-fail-under=100
          - os: ubuntu-latest
            py: 3.13.7
          - os: ubuntu-latest
            py: 3.12.11
          - os: ubuntu-latest
            py: 3.11.13
          - os: ubuntu-latest
            py: 3.10.18
    runs-on: ${{ matrix.os }}
    steps:
      - uses: mhils/workflows/checkout@481eaf3cc2ad8eb664a4c9a20cc635d46e02b5c6
      - uses: mhils/workflows/setup-uv@481eaf3cc2ad8eb664a4c9a20cc635d46e02b5c6
      - run: uv run --python ${{ matrix.py }} tox -e py -- -vvv ${{ matrix.args }}

  build:
    uses: mhils/workflows/.github/workflows/python-build.yml@481eaf3cc2ad8eb664a4c9a20cc635d46e02b5c6
    permissions:
      contents: read
      id-token: write
      attestations: write

  attest:
    needs: build
    if: github.event_name != 'pull_request'
    permissions:
      contents: read
      id-token: write
      attestations: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: wheels
          path: dist/
      - uses: actions/attest-build-provenance@v3
        with:
          subject-path: 'dist/*'

  check:
    if: always()
    needs:
    - lint
    - test
    - build
    - attest
    uses: mhils/workflows/.github/workflows/alls-green.yml@481eaf3cc2ad8eb664a4c9a20cc635d46e02b5c6
    with:
      jobs: ${{ toJSON(needs) }}
      allowed-skips: '["attest"]'

  deploy:
    uses: mhils/workflows/.github/workflows/python-deploy.yml@481eaf3cc2ad8eb664a4c9a20cc635d46e02b5c6
    with:
      artifact-name: wheels
    needs: check
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    secrets:
      password: ${{ secrets.TWINE_PASSWORD }}
